@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;600;700&display=swap');

*, *::before, *::after {
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
}

h1 {
   font-family: "Cinzel", sans-serif;
   font-size: 48px;
   line-height: 64px;
   font-weight: 500;
   color: $primary-text;
   text-transform: uppercase;
}

h2 {
   font-family: "Cinzel", sans-serif;
   font-size: 40px;
   line-height: 56px;
   font-weight: 500;
   color: $simple-text;
   text-transform: uppercase;
   text-align: center;
}

h3 {
   font-family: "Cinzel", sans-serif;
   font-size: 36px;
   line-height: 52px;
   font-weight: 500;
   color: $primary-text;
   text-transform: uppercase;
}

.basic-text-style {
   font-family: "Barlow", sans-serif;
   font-weight: 300;
   color: $simple-text;
   font-size: 12px;
   line-height: 16px;
}

.second-text-style {
   font-family: "Cinzel", sans-serif;
   font-weight: 600;
   color: $primary-text;
   font-size: 11px;
   line-height: 160%;
   cursor: pointer;
}

.basic-button {
   width: 156px;
   height: 56px;
   background-color: rgba(0, 0, 0, 1);
   border: none;
   color: $simple-text;
   font-size: 14px;
   line-height: 20px;
   font-family: "Barlow", sans-serif;
   font-weight: 700;
   cursor: pointer;
}

.woman-title {
   font-family: "Cinzel", sans-serif;
   font-size: 22px;
   line-height: 32px;
   font-weight: 500;
   text-transform: uppercase;
}

.woman-text {
   font-family: "Barlow", sans-serif;
   font-size: 16px;
   line-height: 22px;
   font-weight: 600;
   color: rgba(146, 146, 146, 1);
}

.shop-subtitle {
   font-family: "Cinzel", sans-serif;
   font-size: 11px;
   line-height: 18px;
   font-weight: 500;
   text-transform: uppercase;
   color: $simple-text;
}

.gift-title {
   font-family: "Barlow", sans-serif;
   font-size: 16px;
   line-height: 22px;
   font-weight: 700;
   color: $primary-text;
   text-transform: uppercase;
}

.gift-subtitle {
   font-family: "Barlow", sans-serif;
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   color: $gray-text;
}

.gift-text {
   font-family: "Barlow", sans-serif;
   font-size: 14px;
   line-height: 20px;
   font-weight: 700;
   color: $primary-text;
}

.slider-item {
   width: 165px;
   border-bottom: 2px solid rgba(232, 232, 232, 1);
}

.footer-title {
   font-family: "Barlow", sans-serif;
   font-size: 14px;
   line-height: 18px;
   font-weight: 700;
   color: $primary-text;
   text-transform: uppercase;
}

.footer-text {
   font-family: "Barlow", sans-serif;
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   color: $gray-text;
}

.header-container {
   display: flex;
   flex-direction: column;

   .first-header-wrapper {
      background-color: rgba(17, 17, 19, 1);
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 37px;
      width: auto;

      p {
         cursor: pointer;
      }

      .currency {
         display: flex;
         align-items: center;
         justify-content: center;

         .arrow-down {
            margin-left: 5px;
            margin-right: 25px;
            margin-bottom: 5px;

            img {
               cursor: pointer;
            }
         }
      }
   }

   .second-header-wrapper {
      display: inline-flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(242, 242, 242, 1);

      .logo-wrapper {
         border-right: 1px solid rgba(242, 242, 242, 1);
         padding: 17px 50px;

         img {
            cursor: pointer;
         }
      }

      .nav-wrapper {
         display: flex;
         align-items: center;
         gap: 48px;
         padding: 0 98px;
      }

      .menu-wrapper {
         display: flex;
         align-items: center;
         justify-content: center;

         .menu-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-left: 1px solid rgba(242, 242, 242, 1);
            padding: 0 30px;

            img {
               cursor: pointer;
            }

            .round {
               position: absolute;
               top: 35px;
               left: 42px;
            }
         }
      }
   }
}

.main-container {
   background-image: url(../assets/main-bg.png);
   width: 1392px;
   height: 648px;
   margin: 24px auto;

   .main-wrapper {
      display: flex;
      flex-direction: column;
      gap: 45px;
      padding-left: 107px;
      padding-top: 126px;

      .sub-title-text {
         font-size: 16px;
         line-height: 24px;
         color: rgba(102, 102, 102, 1);
         font-weight: 400;
      }

      .button-wrapper {
         display: inline-flex;
         gap: 20px;

         .reverse-button {
            color: $primary-black;
            background-color: transparent;
            border: 1px solid $primary-text;
         }
      }
   }
}

.slider-bg {
   display: flex;
   justify-content: center;
   gap: 4px;
   margin-top: 46px;

   .slider-item {
      width: 40px;
      height: 2px;
      background-color: $simple-gray;

      &.active {
         background-color: $primary-black;
      }
   }
}

.trending-wrapper {
   display: flex;
   flex-direction: column;
   gap: 25px;
   align-items: center;
   margin-top: 65px;

   .trending-title {
      text-align: center;
   }

   .trending-menu {
      display: flex;
      gap: 33px;

      .select {
         width: 30px;
         border-bottom: 1px solid rgba(0, 0, 0, 1);
      }
   }
}

.schwarz-wrapper {
   display: flex;
   justify-content: center;
   gap: 25px;
   margin-top: 48px;

   .product {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
}

.shop-container {
   margin-top: 118px;
   display: flex;
   flex-direction: column;

   .bra-body-wrapper {
      display: flex;
      align-items: center;
      margin: 0 auto;

      .bra-wrapper {
         background-image: url(../assets/img-shop-bra.png);
         width: 720px;
         height: 720px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 68px;

         .underline {
            width: 56px;
            border-bottom: 1px solid $simple-text;
            cursor: pointer;
         }
      }

      .body-wrapper {
         background-image: url(../assets/img-shop-body.png);
         width: 720px;
         height: 720px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 68px;

         .underline {
            width: 65px;
            border-bottom: 1px solid $simple-text;
            cursor: pointer;
         }
      }
   }

   .nightwear-wrapper {
      background-image: url(../assets/img-shop-nightwear.png);
      width: 1440px;
      height: 720px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 250px;
      margin: 0 auto;

      .nightwear-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 68px;

         .underline {
            width: 105px;
            border-bottom: 1px solid $simple-text;
            cursor: pointer;
         }
      }

      
   }
}

.underwear-container {
   margin-top: 108px;
   display: flex;
   flex-direction: column;
   gap: 38px;
   align-items: center;

   .underwear-title {
      margin-right: 820px;
   }

   .underwear-wrapper {
      display: flex;
      justify-content: center;
      gap: 24px;

      .underwear-item {
         .woman-text {
            &::after {
               content: '69,00€';
               margin-left: 5px;
               text-decoration: none;
               color: rgba(189, 55, 53, 1);
            }
         }
      }
   }
}

.wrong-bra-wrapper {
      background-image: url(../assets/img-wrong-bra.png);
      width: 1440px;
      height: 733px;
      margin-top: 148px;
      margin: 148px auto 0 auto;
}

.gift {
   display: flex;
   flex-direction: column;
   align-items: center;

   .gift-container {
      margin-top: 93px;
   
      .gift-wrapper {
         display: flex;
         justify-content: center;
         gap: 112px;
   
         .gift-element {
            display: flex;
            gap: 41px;
      
            .gift-description {
               display: flex;
               flex-direction: column;
               gap: 5px;
   
               .gift-title {
                  margin-bottom: 5px;
               }
            }
         }
      }
   }

   .almerna-img {
      margin-top: 122px;
   }

   .almerna-title {
      margin-top: 48px;

      .almerna-title-style {
         color: $almerna-title;
      }
   }
}

.wear-container {
   margin-top: 48px;
   display: flex;
   flex-direction: column;

   .wear-wrapper {
      display: flex;
      justify-content: center;
      gap: 37px;
   }

   .slider-wrapper {
      margin-top: 85px;
      display: flex;
      justify-content: center;

      .slider-item-active {
         border-bottom: 2px solid $almerna-title;
      }
   }
}

.img-container {
   margin-top: 169px;
   display: flex;
   flex-direction: column;
   gap: 56px;

   .img-container-title{
      .img-container-title-style {
         color: $almerna-title;
      }
   }

   .img-wrapper {
      display: flex;
      justify-content: center;
      gap: 16px;
      // margin: 0 auto;

      .women-slider-img-2-wrapper {
         background-image: url(../assets/img/women-slider-img-2.png);
         width: 467px;
         height: 468px;
         display: flex;
         justify-content: center;
         align-items: center;

         .basic-button {
            background-color: $simple-text;
            color: $primary-black;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
         }
      }
   }
}

.footer {
   margin-top: 110px;

   .first-footer-container {
      display: flex;
      justify-content: space-between;
      gap: 110px;
      border-bottom: 1px solid rgba(242, 242, 242, 1);
      padding: 0 100px;
      padding-bottom: 45px;

      .footer-logo {
         cursor: pointer;
      }
   }

   .footer-main-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .footer-title {
         margin-bottom: 6px;
         cursor: pointer;
      }

      .footer-text {
         cursor: pointer;
      }
   }

   .join-wrapper {
      .join-input-wrapper {
         display: flex;
         align-items: center;
         justify-content: space-around;
         width: 392px;
         height: 56px;
         border: 1px solid rgba(229, 229, 229, 1);

         .basic-input {
            height: 36px;
            width: 334px;
            font-family: "Barlow", sans-serif;
            color: rgba(178, 178, 178, 1);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            // padding-left: 10px;
            border: none;
         }

         img {
            cursor: pointer;
         }
      }

      .footer-text {
         font-size: 12px;

         u {
            color: rgba(153, 153, 153, 1);
            cursor: pointer;
         }
      }
   }
}

.second-footer-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 100px;
   margin: 24px 0 63px 0;

   .footer-text {
      color: rgba(153, 153, 153, 1);
      font-size: 11px;
      cursor: pointer;
   }

   .policy-social-wrapper {
      display: flex;
      align-items: center;
      gap: 100px;

      .policy-wrapper {
         display: flex;
         gap: 40px;
      }

      .social-wrapper {
         display: flex;
         gap: 12px;

         img {
            cursor: pointer;
         }
      }
   }
}

@media only screen and (max-width: 1024px) {
   .header-container {
      .second-header-wrapper {
         .logo-wrapper {
            padding: 17px 10px;
         }

         .nav-wrapper {
            gap: 28px;
            padding: 0 25px;
         }
      }
   }

   .main-container {
      width: 1024px;
      height: 520px;
      margin: 24px auto;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .main-wrapper {
         padding-left: 80px;
         padding-top: 60px;
      }
   }

   .schwarz-wrapper {
      flex-wrap: wrap;
   }

   .shop-container {
      .bra-body-wrapper {
         .bra-wrapper {
            width: 512px;
            height: 512px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
         }

         .body-wrapper {
            width: 512px;
            height: 512px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
         }
      }

      .nightwear-wrapper {
         width: 1024px;
         height: 530px;
         background-size: 100% 100%;
         background-repeat: no-repeat;
      }
   }

   .underwear-container {
      .underwear-title {
         margin-right: 410px;
      }

      .underwear-wrapper {
         flex-wrap: wrap;
      }
   }

   .wrong-bra-wrapper {
      width: 1024px;
      height: 530px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
   }

   .gift {
      .gift-container {
         .gift-wrapper {
            gap: 30px;
         }
      }
   }

   .wear-container {
      .wear-wrapper {
         gap: 20px;

         .wear-wrapper-img-1 {
            width: 242px;
            height: 350px;
         }

         .wear-wrapper-img-2 {
            width: 500px;
         }

         .wear-wrapper-img-3 {
            width: 242px;
         }
      }
   }

   .img-container {
      margin-top: 110px;

      .img-wrapper {
         gap: 10px;

         .girl-1 {
            width: 165px;
            height: 350px;
         }

         .girl-3 {
            width: 331px;
            height: 350px;
         }

         .girl-4 {
            width: 165px;
            height: 350px;
         }

         .women-slider-img-2-wrapper {
            width: 331px;
            height: 350px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
         }
      }
   }

   .footer {
      .first-footer-container {
         gap: 80px;
         padding: 0 50px;
      }

      .join-wrapper {
         .join-input-wrapper {
            width: 310px;
         }
      }
   }

   .second-footer-container {
      padding: 0 50px;
   }
}

@media only screen and (max-width: 768px) {
   h1 {
      font-size: 35px;
   }

   h2 {
      font-size: 25px;
   }

   .header-container {
      .second-header-wrapper {
         .nav-wrapper {
            display: none;
         }

         .nav-mobile {
            display: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
   
            div {
               width: 30px;
               border-bottom: 2px solid black;
            }
         }
      }
   }

   .main-container {
      width: 768px;
      height: 400px;
      margin: 24px auto;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .main-wrapper {
         padding-left: 50px;
         padding-top: 30px;
         gap: 20px;

         .button-wrapper {
            .basic-button {
               width: 110px;
               height: 36px;
               font-size: 11px;
            }
         }
      }
   }

   .shop-container {
      margin-top: 70px;

      .bra-body-wrapper {
         .bra-wrapper {
            width: 384px;
            height: 384px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            gap: 25px;
         }

         .body-wrapper {
            width: 384px;
            height: 384px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            gap: 25px;
         }
      }

      .nightwear-wrapper {
         width: 768px;
         height: 400px;
         background-size: 100% 100%;
         background-repeat: no-repeat;

         .nightwear-container {
            gap: 25px;
         }
      }
   }

   .underwear-container {
      .underwear-title {
         margin-right: 9px;
      }
   }

   .wrong-bra-wrapper {
      width: 768px;
      height: 400px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 80px auto 0 auto;
   }

   .gift {
      .gift-container {
         .gift-wrapper {
            gap: 10px;

            .gift-element {
               gap: 10px;
            }
         }
      }

      .almerna-img {
         margin-top: 70px;
      }
   }

   .wear-container {
      .wear-wrapper {
         gap: 10px;

         .wear-wrapper-img-1 {
            width: 187px;
            height: 250px;
         }

         .wear-wrapper-img-2 {
            width: 374px;
            height: 250px;
         }

         .wear-wrapper-img-3 {
            width: 187px;
            height: 250px;
         }
      }
   }

   .img-container {
      margin-top: 70px;

      .img-wrapper {
         gap: 10px;

         .girl-1 {
            width: 123px;
            height: 250px;
         }

         .girl-3 {
            width: 246px;
            height: 250px;
         }

         .girl-4 {
            width: 123px;
            height: 250px;
         }

         .women-slider-img-2-wrapper {
            width: 246px;
            height: 250px;
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .basic-button {
               width: 100px;
               height: 30px;
            }
         }
      }
   }

   .footer {
      .first-footer-container {
         gap: 40px;
         padding: 0 10px;
      }

      .join-wrapper {
         .join-input-wrapper {
            width: 230px;
            height: 40px;
         }
      }
   }

   .second-footer-container {
      padding: 0 10px;
   }
}